.env
shared/deployment.json
shared/*.abi.json
shared/.last_processed_block
admin/log/
admin/tmp/
admin/Gemfile.lock
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/
contracts/.git/
contracts/.gitmodules
contracts/foundry.lock
game-mock/node_modules/
.idea/

